.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: auto;
 
}

input {
  all: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 0.5em;
  text-align: start;
  width: 20rem;
}

button {
  all: unset;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
}